<section style="background: linear-gradient(270deg, rgba(19,9,71,1) 0%, rgba(26,22,43,1) 100%);padding: 30px 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <div style="color:#fff;font-weight:600;font-size:18px;margin-bottom: 10px;"><a routerLink="/" title="Home" style="text-decoration: none;"><img src="assets/images/events/logo.png" height="60px" width="60px"/> EventEnergies </a></div>
        <div style="color:#fff;font-size:16px;"> 
          <i class="fa fa-map-marker fa-1x"></i> &nbsp;&nbsp;SANRadiance Technologies <br> No.45/E, 15th Main Rd, SBI Staff Colony, <br> Hoshalli Extension, Stage 1, <br> Vijayanagar, Bengaluru, Karnataka 560040
        </div>
        <!-- <table style="color:#fff;font-size:16px;">
          <tr>
            <td valign="top" width="20px"> <i class="fa fa-map-marker fa-1x"></i> </td>
            <td> SANRadiance Technologies <br> No.45/E, 15th Main Rd, SBI Staff Colony, <br> Hoshalli Extension, Stage 1, <br> Vijayanagar, Bengaluru, Karnataka 560040</td>
          </tr>
        </table> -->
      </div>
      <div class="col-sm-3 text-center">
          <div class="footer-content"><a href="/home/about-us"> About Us </a></div>
          <div class="footer-content"><a href="/home/frequently-asked-questions"> FAQs </a></div>
          <div class="footer-content"><a href="/home/tutorials"> Tutorials </a></div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="footer-content"><a href="/home/service"> Terms of Service </a></div>
        <div class="footer-content"><a href="/home/privacy-policy"> Privacy Policy </a></div>
        <div class="footer-content"><a href="/home/contact-us"> Contact Us </a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5">
        <ul class="footer-social-media">
          <li style="border-right:1px solid #fff"> <a target="_blank" href="https://twitter.com/EnergiesEvent"><img src="assets/images/events/twitter.png" width="20px" height="20px" > Twitter </a></li>
          <li style="border-right:1px solid #fff"> <a target="_blank" href="https://www.facebook.com/eventenergies.e"><img src="assets/images/events/facebook.png" width="20px" height="20px"> Facebook </a></li>
          <li style="border-right:1px solid #fff"> <a target="_blank" href="https://www.linkedin.com/in/event-energies-7a73011a0/"><img src="assets/images/events/linkedin.png" width="20px" height="20px"> LinkedIn </a></li>
          <li> <a target="_blank" href="https://www.instagram.com/event_energies/"><img src="assets/images/events/instagram.png" width="20px" height="20px"> Instagram </a></li>
        </ul>
      </div>
    </div>
    <hr style="color:#fff">
    <p style="color:#fff"> Copyright &#169; 2009-2020. Sanradiance Technologies India Pvt Ltd. </p>  
  </div>
</section>