<div class="row" style="margin-bottom:15px;">
    <div class="col-sm-12">
        <h3> Events </h3>
    </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
    <a [routerLink]="['/admin/organization/class-room']" [queryParams]="{ type: 'add' }" title="Add class">
      <div class="col-sm-12 create-card">
          <div class="invite-box"> 
              +
          </div>
          Add Events
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12" *ngFor="let class of class_list_array">
        <div class="col-sm-12 border-box">
            <span [routerLink]="['/admin/organization/class-room/profile']" [queryParams]="{ id: class.id }" style="cursor: pointer;" title="click here to view class profile">
            <div *ngIf="class.staticDpImg"><img [src]="class.staticDpImg" class="card-profile-image" (error)="updateDefaultImageUrl($event)"></div>
            <div class="bc-bg" *ngIf="!class.staticDpImg">{{class.name | slice:0:1}}</div>
            </span>
            <div class="cont-right">
              <div id="textbox">
                <span class="header-name">{{class.name ? class.name : ''}}</span>
                  <br><br>
              </div>
              <span class="header-email"></span>
            </div>
        </div>
  </div>
<!--
  <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12" *ngFor="let class of class_list_array">
      <div class="col-sm-12 border-box">
          <span [routerLink]="['/admin/organization/class-room/profile']" [queryParams]="{ id: class.id }" style="cursor: pointer;" title="click here to view class profile">
          <div *ngIf="class.staticDpImg"><img [src]="class.staticDpImg" class="card-profile-image" alt="class"></div>
          <div class="bc-bg" *ngIf="!class.staticDpImg">{{class.name | slice:0:1}}</div>
          </span>
          <div class="cont-right">
            <div id="textbox">
              <span class="header-name">{{class.name ? class.name : ''}}</span>
                <br><br>
            </div>
            <span class="header-email"></span>
          </div>
      </div>
  </div>
-->
</div>
