.dasboard-stories-card {
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 0 0 1px rgba(0,0,0,0.08);
    border-radius:4px;
    padding: 10px 25px 30px 25px;
    background: #ffffff;
}
.heading{
    color: #495C69;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
    line-height: 28px;
    opacity: 0.8;
  }
  input[type="text"],input[type="email"],input[type="number"],input[type="password"],select{
    width:100%;
    font-size:1em;
    border:1px solid #cccccc;
    border-radius: 4px;
    background:#FFFFFF;
    height:40px;
    padding:3px;
    color: #495C69;
    padding-left:10px;
    box-shadow: none;
  }
  input[type="text"]:hover,input[type="email"]:hover,input[type="number"]:hover,input[type="password"]:hover {
    border:1px solid #3B5998;
  }
  input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus {
    border:1px solid #3B5998;
  }
  .error-mez{
    color:#a94442;
    font-size:14px;
  }
  .profile-text{
  border:1px solid #ccc;
  border-radius:4px;
  width:140px;
  height:140px;
  text-align:center;
  vertical-align: middle;
  font-size:80px;
  display:table-cell;
  line-height: 140px;
  background: pink;
  color:#fff;
}
.profile-upload-image:hover{
    color:#fff;
    background: #0e4d92;
}
.profile-upload-image{
    border:1px solid #0e4d92;
    padding: 6px;
    border-radius:4px;
    font-size:14px;
    font-weight:600;
    margin-left:20px;
    cursor:pointer;
    color:#0e4d92;
}
.bt-cancel{
    border:1px solid #0e4d92;
    color:#0e4d92;
    background:#fff;
    padding: 5px;
    border-radius:4px;
    width:80px;
    font-size:14px;
    font-weight:600;
}
.bt-save{
    color:#fff;
    background:#0e4d92;
    padding: 5px;
    border-radius:4px;
    width:80px;
    border:1px solid #0e4d92;
    font-size:14px;
    font-weight:600;
}
.bt-cancel:hover{
    color: #76b1e6;
    border:1px solid #76b1e6;
}
.bt-save:hover{
    background: #76b1e6;
    border:1px solid #76b1e6;
}
.dashboard-responsive-margin {
    padding-top: 40px;
}
.profile-image-edit {
  background-color: #ebeff4;
  height: 140px;
  width: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float:left;
}
.profile-image-edit img {
  max-width:140px;
  max-height:140px;
  border-radius:4px;
}
img{
  image-orientation: 90deg; /* Rotate 90deg */
image-orientation: 90deg flip; /* Rotate 90deg, and flip it horizontally */ 
image-orientation: flip; 
}
.block-controls{
  background: #FFFFFF;
  border: 1px solid #e1e6eb;
  position: absolute;
  -moz-box-shadow: -1px 1px 5px #ccc;
  -webkit-box-shadow: -1px 1px 5px #ccc;
  box-shadow: -1px 1px 5px #ccc;
  right: 0;
  top: 0;
}
.js-edit-block{
  padding: 4px 8px;
  cursor: pointer;
  border-right: 1px solid #e1e6eb;
}
.js-delete-block{
  padding: 4px 8px;
  cursor: pointer;
}

.cropper-modal{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;

  &__background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.08);
  }

  &__card{
    position: absolute;
    z-index: 150;
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
