.more-button {
  border: 1px solid #337ab7;
  color: #337ab7;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  text-align: center;
  background: transparent;
  border-radius: 4px solid #ccc;
}
