<div class="container">
  <div class="signin-header">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h2 style="color:#3B5998;font-size:25px;font-weight: 500;">Change your password </h2>
      </div>
    </div>
  </div>
  <form id="change_password_form" #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <div class="signin-card">
      <div class="row">
        <div class="col-sm-12">
            <label class="heading">Current Password</label>
        </div>
        <div class="col-sm-12">
          <input [(ngModel)]="current_password" minlength="6" placeholder="Current Password" type="text" required id="current_password" name="current_password" #userCurrentPassword="ngModel">
          <div class="error-mez" *ngIf="userCurrentPassword.touched && userCurrentPassword.invalid">
            <span *ngIf="userCurrentPassword?.errors?.required">
              Current Password is required
            </span>
            <span *ngIf="userCurrentPassword?.errors?.minlength">
                Minimum length should be 6 digit
              </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <label class="heading">New Password </label>
        </div>
        <div class="col-sm-12">
          <input [(ngModel)]="password" minlength="6" placeholder="New Password" type="text" required id="password" name="password" #userPassword="ngModel">
          <div class="error-mez" *ngIf="userPassword.touched && userPassword.invalid">
            <div *ngIf="userPassword?.errors?.required">
              Password is required
            </div>
            <div *ngIf="userPassword?.errors?.minlength">
              Your password must be at least 6 characters long
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <label class="heading">Confirm Password </label>
        </div>
        <div class="col-sm-12">
          <input [(ngModel)]="confirm_password" minlength="6" placeholder="Confirm Password" type="password" required id="confirm_password" name="confirm_password" #userConfirmPassword="ngModel">
          <div class="error-mez" *ngIf="userPassword.touched && userConfirmPassword.touched && userConfirmPassword.invalid">
            <div *ngIf="userConfirmPassword?.errors?.required">
              Confirm Password is required
            </div>
            <div *ngIf="userConfirmPassword?.errors?.minlength">
              Your password must be at least 6 characters long
            </div>
          </div>
          <div class="error-mez" *ngIf="userPassword.touched && userConfirmPassword.touched && userConfirmPassword.valid && password!=confirm_password">
            Confirm password should be same
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-blue-color" [disabled]="changePasswordForm.form.invalid || password!=confirm_password" value="Change my password" />
        </div>
      </div>
      <br>
    </div>
  </form>
</div>
