.photo-card-image{
    width:170px;
    height:170px;
    border:1px solid #ccc;
    border-radius:4px;
}
.photo-card-image img{
    width:170px;
    height: 170px;
}
.nav-margins li{
    padding:10px 20px 10px 20px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
    float:left;
}
div.scrollbox {
    height:40px;
    overflow-x:scroll;
    white-space: nowrap;
}
.school-profile-text .text-name{
    text-transform: uppercase;
    border:1px solid #ccc;
    border-radius:4px;
    padding: 15px 50px 15px 50px;
    width:170px;
    height:170px;
    text-align:center;
    // vertical-align: middle;
    font-size:100px;
    // display:table-cell;
    // line-height: 170px;
    background: pink;
    color:#fff;
}
.dashboard-school-page{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    background: #fff;
    width: 100%;
}

// All school List
.all-school-list{
    position: relative;
    border-bottom:1px solid #ccc;
    top:60px;
    left:0;
    right:0;
    padding:5px;
  }
  .scroll-div {
    width: 100%; 
    height: 60px; 
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .inner {
    white-space:nowrap; 
  }
  .floatLeft {
    display: inline-block;
    margin-left:10px;
    border:1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    cursor:pointer;
  }
  .floatLeft:hover {
      background: #ccc;
  }
// all school list end
.flex-content-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-menu{
    font-family: proxima-nova,helvetica,sans-serif;
    font-size:16px;
    line-height: 1em;
    padding: 0px 40px 16px;
    position: relative;
    background-color: transparent;
    color: #808b98;
    cursor:pointer;
    padding-left: 0;
    font-weight:600;
}
.flex-menu:hover{
    color:#333;
}
.school-name-header{
    font-size:55px;
}
.edit-button-school {
    position:absolute;
    font-size:14px;
    bottom:0;
    color:#337ab7;
    cursor: pointer;
    font-weight: 600;
}
.sp-active-bar {
    background-color: #337ab7;
    bottom: -2px;
    height: 3px;
    padding: 0 13px;
    position: absolute;
    border-radius: 5px;
    width: calc(100% - 40px);
}
.active-color{
    color:#333;
}
.flex-menu:focus{
    outline: 0;
}
.dashboard-box {
    padding-top:40px;
}
@media(max-width:990px){
    .school-profile-image{
        text-align: center;
    }
    .school-name-edit-right .school-name-header{
        font-size: 40px;
        text-align: center;
    }
}
@media(max-width:767px){
    .dashboard-box-response {
        padding-top:20px;
    }
}
@media(max-width:550px){
    .flex-menu{
        font-size:15px;
        line-height: 1em;
        padding: 0px 20px 8px;
        font-weight:600;
    }
}
@media(max-width:530px){
    .flex-menu{
        font-size:14px;
        line-height: 1em;
        padding: 0px 20px 8px;
        font-weight:600;
        text-align: center;
    }
}
@media(max-width:490px){
    .school-name-edit-right .school-name-header{
        font-size: 30px;
    }
    .flex-menu{
        font-size:15px;
        line-height: 1em;
        padding: 0px 10px 8px;
        font-weight:600;
        text-align: center;
    }
    .sp-active-bar {
        bottom: -2px;
        height: 3px;
        padding: 0 13px;
        position: absolute;
        border-radius: 5px;
        width: calc(100% - 20px);
    }
}
@media(max-width:370px){
    .school-name-edit-right .school-name-header{
        font-size: 25px;
    }
    .flex-menu{
        font-size:13px;
        line-height: 1em;
        padding: 0px 10px 6px;
        font-weight:600;
        text-align: center;
    }
    .sp-active-bar {
        bottom: -2px;
        height: 3px;
        padding: 0 13px;
        position: absolute;
        border-radius: 5px;
        width: calc(100% - 20px);
    }
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.school-dashboard-profile-image {
    background-color: #ebeff4;
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius:4px;
}
