<div class="row" style="margin-bottom:15px;">
  <div class="col-sm-12">
      <h3> Performers </h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12" *ngIf="class_student_array?.length==0">
    <a  title="No Student Found">
      <div class="col-sm-12 create-card">
        <div class="invite-box"> 
            +
        </div>
        Add Event Performers
      </div>
    </a>
  </div>
  <ng-container *ngFor="let student of class_student_array">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xs-12">
      <div class="col-sm-12 border-box">
        <span style="cursor:pointer" title="student">
        <!------------------user image upload --------------------->
        <div *ngIf="student.staticDpImg"><img [src]="student.staticDpImg" (error)="updateDefaultImageUrl($event)" class="card-profile-image" alt="class"></div>
        <!------------------user image upload end--------------------->
        <!-----------------------user name text  ----------------------->
        <div *ngIf="!student.staticDpImg && student.imgName" class="bc-bg">{{student.imgName ? student.imgName : ''}}</div>
        <!-----------------------user name text  end----------------------->
        </span>
        <div class="cont-right">
          <div id="textbox">
            <span class="header-name">{{student.firstName ? student.firstName : '' }} {{student.lastName ? student.lastName : ''}}</span>
              <br><br>
          </div>
          <span class="header-email" *ngIf="student.dob"><i class="fa fa-birthday-cake"></i> {{student.dob ? student.dob : ''}}</span>
        </div>
      </div>
    </div>
  </ng-container>

</div>